/* Please see documentation at https://docs.microsoft.com/aspnet/core/client-side/bundling-and-minification
for details on configuring this project to bundle and minify static web assets. */

:root {
    --primary: #0076B6 !important;
    --secondary: #B0B7BC !important;
}

.navBorder {
    border: 1px solid black !important;
}

a.navbar-brand {
  white-space: normal;
  text-align: center;
  word-break: break-all;
}

body {
    background-color: #c9cbcd !important;
}

.primaryLionsText {
    color: #0076B6 !important;
}

.subLionsText {
    color: #B0B7BC !important;
}

.headerText {
    text-decoration: underline;
    color: #0076B6 !important;
}


.qbHeader {
    background-color: white;
    border: 1px solid black;
    border-radius: 8px;
}

/* Provide sufficient contrast against white background */
a {
  color: #0366d6;
}

.qbContainer {
    background-color: #c9cbcd !important;
    margin-top: 0;
    padding-top: 0;
    padding: .3vw;
    background-color: white;
    border: 1px solid black;
    border-radius: 8px;
    box-shadow: .5vw .3vw .3vw black;
}

.qbPhoto {
    background-image: url(../assets/goff-stafford.jpg);
    background-position: 60% 15%;
    width: 100%;
    height: 25rem;
    border-radius: 8px;
    border: 1px solid black;
}

.qbTextContainer {
    background: linear-gradient(to right, #0076B6, #B0B7BC);
    border-radius: 8px;
    border: 1px solid black;
}

.qbText {
    font-size: 1.8vw;
    text-align: center;
    text-decoration: underline;
}

.contact {
    border: 1px solid black;
    border-radius: 8px;
    background-color: white;
}

.statTable {
    border: 1px solid black;
    border-radius: 8px;
    margin-top: 0;
    margin: 1vw;
    background-color: white;
}

.mainContact {
    text-decoration: underline;
    font-size: 1.8vw !important;
}
.tableTitle {
    text-decoration: underline;
    font-size: 1.8vw !important;
}

contactHeader {
    font-size: 1.2vw !important;
    color: #B0B7BC;
}

contactSubhead {
    font-size: 1.2vw !important;
    color: #B0B7BC;
}

.btn-primary {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

.nav-pills .nav-link.active, .nav-pills .show > .nav-link {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
    font-size: 14px;
    background-color: #c9cbcd !important;
}
@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.border-top {
  border-top: 1px solid #e5e5e5;
}
.border-bottom {
  border-bottom: 1px solid #e5e5e5;
}

.box-shadow {
  box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}

button.accept-policy {
  font-size: 1rem;
  line-height: inherit;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
  position: relative;
  min-height: 100%;
}

body {
  /* Margin bottom by footer height */
  margin-bottom: 60px;
}
.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  white-space: nowrap;
  line-height: 60px; /* Vertically center the text there */
}


.table{
    background: #fff;
    overflow-y: auto;
    box-shadow: 0px 10px 50px 0px rgba(0,0,0,0.5);
    border-radius: 10px;
    padding: 5rem;
}

table{
    width: 100%;
    text-align: center;
    border-collapse: collapse;
}
